<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課題「Webサーバを立ち上げてWebの仕組みを知る（総集編）」</title>
</head>
<body>
    <div>
        <h1>Foods一覧</h1>
        <form action="/foods" method="get">
            <!-- <label for="category">カテゴリ</label> -->
            <select name="category">
                <option value="all" <%= 'selected' if req.query['category'] == 'all' %>>全て</option>
                <option value="fruits" <%= 'selected' if req.query['category'] == 'fruits' %>>フルーツ</option>
                <option value="vegetables" <%= 'selected' if req.query['category'] == 'vegetables' %>>野菜</option>
            </select>
            <button type="submit">検索</button>
        </form>
        <ul>
            <% filtered_foods.each do |food| %>
            <li><%= food[:name] %></li>
            <% end %>
        </ul>
    </div>
    
</body>
</html>